:root {
	--color-bg: #19202a;
	--color-nav: #10151b;
	--color-secondary: #119ddb;
	--color-content: #ffffff;
	--color-content-bg: #ececec;
	--color-text-main: #a5a8ad;
	--color-price: #57ac4d;
	--color-text-darken: #373737;
	--color-text-lighten: #e2e2e4;
}
