.filters {
	flex-basis: 360px;
	background-color: var(--color-nav);
	padding: 0 15px;

	&__favourite-btn {
		width: 90%;
		display: flex;
		align-items: center;
		margin: 10px auto;
		background-color: transparent;
		border: none;
		cursor: pointer;
		border-top: 1px solid var(--color-text-main);
		padding-top: 10px;
	}

	&__favourite-text {
		font-size: 15px;
		font-weight: 700;
		color: var(--color-content);
		flex-basis: 90%;
		text-align: left;
	}
}
